@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, body > div {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #141414;
  color: white;
}

a {
  text-decoration: none;
}